<!-- NOTE: Category page inline CTAs after intro copy column (projects, process, insights, about, contact, pricing). -->
<nav class="category-inline-links" aria-label="Nyttige lenker">
  <p class="category-inline-links__item">
    <a class="category-projects-link" href="/prosjekter">
      Alle prosjekter
      <img
        class="category-projects-link__arrow"
        src="/assets/small-arrow-right.svg"
        alt=""
        width="12"
        height="12"
        aria-hidden="true"
      />
    </a>
  </p>
  <p class="category-inline-links__item">
    <a class="category-projects-link" href="/tjenester-prosess">
      Prosess
      <img
        class="category-projects-link__arrow"
        src="/assets/small-arrow-right.svg"
        alt=""
        width="12"
        height="12"
        aria-hidden="true"
      />
    </a>
  </p>
  <p class="category-inline-links__item">
    <a class="category-projects-link" href="/innsikt">
      Innsikt
      <img
        class="category-projects-link__arrow"
        src="/assets/small-arrow-right.svg"
        alt=""
        width="12"
        height="12"
        aria-hidden="true"
      />
    </a>
  </p>
  <p class="category-inline-links__item">
    <a class="category-projects-link" href="/oss">
      Bli kjent med oss
      <img
        class="category-projects-link__arrow"
        src="/assets/small-arrow-right.svg"
        alt=""
        width="12"
        height="12"
        aria-hidden="true"
      />
    </a>
  </p>
  <p class="category-inline-links__item">
    <a class="category-projects-link" href="/application-form">
      Kontakt oss
      <img
        class="category-projects-link__arrow"
        src="/assets/small-arrow-right.svg"
        alt=""
        width="12"
        height="12"
        aria-hidden="true"
      />
    </a>
  </p>
  <p class="category-inline-links__item">
    <a class="category-projects-link" href="/prisestimat">
      Prisoversikt
      <img
        class="category-projects-link__arrow"
        src="/assets/small-arrow-right.svg"
        alt=""
        width="12"
        height="12"
        aria-hidden="true"
      />
    </a>
  </p>
</nav>
